Actividades/tema5/EJ2/alumnos.dtd

<!ELEMENT lista_alumnos (alumno*)>
<!ELEMENT alumno (nombre, apellidos, domicilio, telefono+, equipo?, aficion*, (provincia | pais), comentarios?, (evaluacion, calificacion)+)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT domicilio (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ATTLIST telefono 
          origen (propio | padre | madre | tutor) #REQUIRED>

<!ELEMENT equipo (#PCDATA)>
<!ELEMENT aficion (#PCDATA)>
<!ELEMENT provincia (#PCDATA)>
<!ELEMENT pais (#PCDATA)>

<!ELEMENT comentarios ANY>

<!ELEMENT evaluacion (#PCDATA)>
<!ELEMENT calificacion (#PCDATA)>

<!ATTLIST alumno 
          num_alumno ID #REQUIRED
          altura_cm CDATA #IMPLIED
          sexo (hombre | mujer) #IMPLIED
          ayudado_por IDREF #IMPLIED>